.App {
  text-align: center;
}

body * {
  box-sizing: border-box;
}

.App {
  overflow: hidden;
}

.App > div {
  width: 100vw;
  height: 100vh;
}

.main {
  position: relative;
}

/* Image Viewer---------------------------------------*/

.slide-viewer {
  border: solid 2px darkgrey;
  position: relative;
  height: 100%;
  overflow: auto;
}

.image-viewer {
  border-width: 2px;
  border-color: solid;
  border-style: darkgrey;
  display: flex;
  /*
  width: 100%;
  height: 75%;
  padding: 20 0;
  */
  height: 100%;

  overflow: auto;
  position: relative;
}
.image-wrapper {
  position: relative;
  width: 90%;
  display: inline-block;
  height: 100%;
}

.video-wrapper {
  position: relative;
  width: 90%;
  height: 100%;
  justify-content: center;
  align-content: stretch;
}

.video-wrapper > div {
  background: darkslategrey;
}

.image-viewer-large-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-viewer-3-by-4 {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
}

.image-viewer-large-video {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-viewer-side-button {
  border-width: 1px;
  /* height: 100%; */
  width: 5%;
  margin: 0;
  padding: 0;
}

.wide .slide-viewer-detail {
  float: right;
  width: 200px;
  height: 100%;
  /* height: 25%;*/
  overflow: auto;
}

.tall .slide-viewer-detail {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.slide-viewer-detail {
  z-index: 2;
  background: white;
  border: solid black 3px;
}

.slide-viewer-detail-header {
  height: 20%;
}

.slide-viewer-detail > ul {
  margin: 3%;
  height: 77%;
  overflow: scroll;
  margin: 0;
}

.slide-detail-item {
  text-align: left;
}

/* Overview Section---------------------------------------*/

.overview-section {
  border-width: 2px;
  border-color: darkgrey;
  border-style: solid;
  padding: 3px;
  width: 200px;
  height: 100%;
  float: left;
  overflow-y: scroll;
  overflow-x: hidden;

  flex-direction: column;
  background-color: #002266;
}

.overview-slide-thumb {
  width: 100%;
  height: 120px;
  padding-bottom: 3px;
  border-bottom: solid black 2px;
}

.overview-slide-thumb-highlight {
  box-sizing: content-box;
  border-color: #f6f9cc;
  border-width: 3px;
  border-style: solid;
  margin: -3px 0 0px -3px;
  padding: 0;
}

.chapter {
  background: #74829e;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.chapter-title {
  background: #74829e;
  border-bottom: solid black 2px;
}

.chapter.hidden > .chapter-body {
  overflow: hidden;
  height: 0;
}

/*Landing Page-----------------------*/

.landing-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: rgb(5, 44, 66);
}

.landing-page > div {
  border: 5px solid rgb(44, 43, 43);
  border-left-width: 0;
  border-right-width: 0;
  flex-basis: 75%;
  background: rgb(56, 89, 126);
}

.file-picker {
  padding: 15px;
  font-size: 20px;
}

.progress-bar-holder {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.progress-bar-piece {
  background: blue;
  margin: 1px;
}
