.App {
  text-align: center;
}

body * {
  box-sizing: border-box;
}

.App {
  overflow: hidden;
}

.App > div {
  width: 100vw;
  height: 100vh;
}

.main {
  position: relative;
}

/* Image Viewer---------------------------------------*/

.slide-viewer {
  border: solid 2px darkgrey;
  position: relative;
  height: 100%;
  overflow: auto;
}

.image-viewer {
  border-width: 2px;
  border-color: solid;
  border-style: darkgrey;
  display: flex;
  /*
  width: 100%;
  height: 75%;
  padding: 20 0;
  */
  height: 100%;

  overflow: auto;
  position: relative;
}
.image-wrapper {
  position: relative;
  width: 90%;
  display: inline-block;
  height: 100%;
}

.video-wrapper {
  position: relative;
  width: 90%;
  height: 100%;
  justify-content: center;
  align-content: stretch;
}

.video-wrapper > div {
  background: darkslategrey;
}

.image-viewer-large-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-viewer-3-by-4 {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
}

.image-viewer-large-video {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-viewer-side-button {
  border-width: 1px;
  /* height: 100%; */
  width: 5%;
  margin: 0;
  padding: 0;
}
/**Slide Details ------------ */
.wide .slide-viewer-detail {
  float: right;
  width: 200px;
  height: 100%;
  /* height: 25%;*/
  overflow: auto;
}

.minimized .detail-hidable {
  display: none;
}

.wide .slide-viewer-detail.minimized {
  overflow: hidden;
  width: 5%;
}

.tall .minimized {
  width: 10%;
  height: 5%;
}

.tall .minimized button {
  height: 100%;
}

.wide .slide-viewer-detail,
.slide-viewer-detail > .slide-detail-items {
  flex-direction: column;
}

.slide-detail-section {
  border: 2px solid lightgrey;
}

.tall .slide-viewer-detail {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.tall .slide-detail-items {
  flex-direction: row;
}

.slide-detail-header {
  background: rgb(52, 109, 165);
  width: 100%;
  color: white;
}

.slide-viewer-detail {
  z-index: 2;
  background: white;
  border: solid black 3px;
}

.slide-viewer-detail > .slide-detail-header {
  position: sticky;
  z-index: 3;
  top: 0;
}
.slide-detail-items {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  background: rgb(194, 194, 194);
}

.tall .slide-detail-section {
  overflow-y: scroll;
  max-height: 145px;
}

.slide-detail-item {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.slide-detail-item > label {
  align-self: flex-start;
  margin-left: 3px;
}

.slide-detail-item > input,
.change-slide-button {
  width: 75%;
  align-self: center;
  background: rgb(148, 204, 250);
}

.change-slide-button {
  background: rgb(255, 255, 255);
}

.detail-link {
  border-bottom: 2px solid;
}

/* Overview Section---------------------------------------*/

.overview-section {
  border-width: 2px;
  border-color: darkgrey;
  border-style: solid;
  padding: 3px;
  width: 200px;
  height: 100%;
  float: left;
  overflow-y: scroll;
  overflow-x: hidden;

  flex-direction: column;
  background-color: #002266;
  color: white;
}

.overview-slide-thumb {
  width: 100%;
  height: 120px;
  padding-bottom: 3px;
  border-bottom: solid black 2px;
}

.overview-slide-thumb-highlight {
  box-sizing: content-box;
  border-color: #f6f9cc;
  border-width: 3px;
  border-style: solid;
  margin: -3px 0 0px -3px;
  padding: 0;
}

.chapter {
  background: #74829e;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.chapter-title {
  background: #74829e;
  border-bottom: solid black 2px;
}

.chapter.hidden > .chapter-body {
  overflow: hidden;
  height: 0;
}

/*Landing Page-----------------------*/

.landing-page {
  background: rgb(5, 44, 66);
}

.landing-page > .slide-viewer {
  background: rgb(56, 89, 126);
}

.landing-page > .overview-section {
  width: 200px;
}

.file-picker {
  padding: 15px;
  font-size: 20px;
}

.file-picker > button,
.file-picker > label {
  font-size: 1.25em;
  font-weight: 700;
  padding: 5px;
  border: 2px white solid;
}

.loaded-files-label {
  font-size: 1.25em;
  font-weight: 700;
  padding: 5px;
  color: white;
}

.progress-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar-total {
  position: relative;
  height: 50px;
  width: 80%;
  background: rgb(240, 243, 245);
}

.progress-bar-percent {
  height: 100%;
  background: rgb(68, 248, 194);
  transition: width 0.2s ease-in;
}

/* Input Label and button hiding --------------*/
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  color: white;
  background-color: rgb(2, 76, 187);
  border: 2px white solid;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(9, 255, 255);
}

.hide {
  display: none;
}
